*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
div.background{
    position: absolute;
    left: 0;
    width: calc(100% - 300px);
    height: 100%;
    background-image: url("../assets/images/negocios.jpg");
    background-size: cover;
}
section#conteudo-view{
    position: absolute;
    right: 0;
    padding: 20px;
    width: 300px;
    height: 100%;
    background: #51dca6;
}

section#conteudo-view h1{
    margin-top: 70px;
    float: left;
    width: 100%;
    font: 3em 'Anton', cursive;
    color: #f3f3f3;
}
section#conteudo-view h3,
section#conteudo-view form p{
    float: left;
    width: 100%;
    font: .8em 'Anton', cursive;
    color: #f3f3f3;
}

section#conteudo-view form,
section#conteudo-view form label{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

section#conteudo-view form{
    margin-top: 40px;
}

section#conteudo-view form p{
    font-size: 1.25em;
}
section#conteudo-view form input[type='submit'],
section#conteudo-view form label input{
    float: left;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    border: 2px solid #52ca9b;
    color: #959595;
    font: 1em 'Arial';
}

section#conteudo-view form input[type='submit'] {
    width: 60%;
    float: right;
    color: #f9f9f9;
    background: #00ff9c;
    text-align: center;
    font: 1em 'Anton', cursive;
}